:root {
    --basecolor: #0f0fff;
    --primary: #2e5180;
    --darkgray: #333333;
    --middleGray: #707F89;
    --gray: #CDD6DD;
    --lightGray: #EFF4F8;
    --white: #ffffff;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
div,
header,
nav,
main,
footer,
section{
    margin: o;
    padding: o;
}
