body{
	display: flex;
	flex-wrap: wrap;

}
header{
	background-color: aqua;
	width: 100%;
}
nav{
	background-color: azure;
	width: 30%;
}
main{
	background-color: burlywood;
	width: 50%;
}
aside{
	background-color: coral;
	width: 20%;
}
footer{
	background-color: cornflowerblue;
	width: 100% ;
}